<h1>Editar Ticket</h1>

<div class="row text-right animated fadeIn faster">
    <div class="col">
        <button [routerLink]="['/autos']" routerLinkActive="router-link-active" class="btn btn-danger">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>


<form (ngSubmit)="guardar(f)" #f="ngForm">

    <div class="form-group mb-5">
        <label>Codigo</label>
        <input type="text" class="form-control" disabled="disabled" placeholder="Firebase ID" [(ngModel)]="auto.id" name="id">
    </div>

    <div class="form-group mb-3">
        <label>Patente</label>
        <div>
            <input type="text" class="form-control" placeholder="Ingresar Patente" [(ngModel)]="auto.patente" name="patente" minlength="6" maxlength="7" pattern="([A-Za-z0-9]+\-?[a-z0-9]{2,3}$)" required #patente="ngModel">
            <div *ngIf="patente.errors?.required">
                Este campo es requerido
            </div>
            <div *ngIf="patente.errors?.pattern" style="color: red;">
                Este campo no tiene formato de patente
            </div>
        </div>
    </div>


    <div class="form-group mb-3">
        <label>Fecha</label>
        <input class="form-control" placeholder="01-01-2020" bsDatepicker [(ngModel)]="auto.fecha" name="fecha" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue', isAnimated: true}" required>
    </div>


    <div class="md-form mb-3">
        <label>Hora de Ingreso</label>
        <input type="time" id="input" class="form-control" value="13:00" mdbInput name="hora" [(ngModel)]="auto.hora" required />
    </div>

    <!--  <p>Or if you prefer, {{today | date:'HH:mm:ss'}}</p>  -->



    <div class="form-group">
        <label>activo</label>
        <br>
        <button *ngIf="auto.activo" (click)="auto.activo=false" class="btn btn-outline-success" w-50 type="button">
            <i class="fa fa-check-circle"></i>
        </button>
        <button *ngIf="!auto.activo" (click)="auto.activo=true" class="btn btn-outline-danger" w-50 type="button">
            <i class="fa fa-ban"></i>
        </button>
    </div>

    <hr>

    <div class="form-group text-center mb-5">
        <button type="submit" class="btn-primary w-25 p-1">
            Guardar
        </button>

    </div>

</form>