<h1>Listado de Tickets</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button [routerLink]="['/auto/kldool']" routerLinkActive="router-link-active" class="btn btn-primary mb-2">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>


<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">nombre</th>
            <th scope="col">telefono</th>
            <th scope="col">run</th>
            <th scope="col">fecha nacimiento</th>
            <th scope="col">email</th>
            <th scope="col">patente</th>
            <th scope="col">costo servicio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes; let i =index">
            <ng-container>
                <th scope="row">{{i+1}}</th>
                <td>{{cliente.nombre+' '+cliente.apellido_paterno+' '+cliente.apellido_materno}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.run}}</td>
                <td>{{cliente.fecha_nacimiento}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.patente_auto}}</td>
                <td>{{cliente.cobro_mensual}}</td>

            </ng-container>
        </tr>
    </tbody>
</table>

<!-- 
  <div class="alert alert-warning text-center mt-3">
    <h4 class="alert-headig">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-spin fa-2x"></i>
        </p>
  </div>

  <div class="alert alert-info text-center mt-3">
    <h4 class="alert-headig">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere Por favor
        </p>
  </div>
  -->